# Basic Functions

In [1]:
5+6

11

In [2]:
5*6

30

In [3]:
6//3

2

In [4]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range (2,10):
    print (i)

2
3
4
5
6
7
8
9

# Using 'for' loop

In [6]:
for i in range (50):
    if i%2==0:
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd

In [7]:
for i in range (50):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd

# Using 'while' loop

In [8]:
i=0
while i<50:
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")    
    i=i+1

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd

# Data Types

In [9]:
x="TMV"
type(x)

str

In [10]:
y=78
type(y)

int

In [11]:
list1=[10,20,30,40,50]
type(list1)

list

In [12]:
list1.append(60)

In [13]:
list1

[10, 20, 30, 40, 50, 60]

# Separate or sort the elements from the below list according to their Data Types

In [14]:
list2=[30,"read",70.5,"IOT",8.5,66]
type(list2)

list

## 1. Create empty lists

In [15]:
strlist=[]
intlist=[]
floatlist=[]

## 2. Using 'for' loop and 'elif' statement

In [16]:
for i in (list2):
    if type(i)==str:
        strlist.append(i)
    elif type(i)==int:
        intlist.append(i)
    else:
        floatlist.append(i)

print(strlist,intlist,floatlist)

['read', 'IOT'] [30, 66] [70.5, 8.5]

# List Comprehension 
## easier way to achieve the same result in shorter code

In [17]:
strlist=[i for i in list2 if type(i)==str]
intlist=[i for i in list2 if type(i)==int]
floatlist=[i for i in list2 if type(i)==float]

print(strlist,intlist,floatlist)

['read', 'IOT'] [30, 66] [70.5, 8.5]

# Indexing the List

In [18]:
list2[2]

70.5

In [19]:
list2[0:]

[30, 'read', 70.5, 'IOT', 8.5, 66]

In [20]:
list2[1]

'read'

In [21]:
list2[1][1]

'e'

# Creating Functions

## Creating a Function for Addtion

In [22]:
def add(x,y):
    return (x+y)

In [23]:
add (5,6)

11

## Creating a Function for List Comprehension

In [24]:
def listcomp(x):
    strlist=[i for i in x if type(i)==str]
    intlist=[i for i in x if type(i)==int]
    floatlist=[i for i in x if type(i)==float]

    return(strlist,intlist,floatlist)

In [25]:
list3=(["name","abc","class",12,"rollno.",130,"contact",323.63])
listcomp(list3)

(['name', 'abc', 'class', 'rollno.', 'contact'], [12, 130], [323.63])

In [26]:
listsort1=listcomp(list3)

In [27]:
type(listsort1)

tuple

### Changing the 'tuple' to a 'list'

In [28]:
list3=(["name","abc","class",12,"rollno.",130,"contact",323.63])
listsort2=listcomp(list3)

In [29]:
for i in listsort2:
    print(i)

['name', 'abc', 'class', 'rollno.', 'contact']
[12, 130]
[323.63]

## Recursive Function

In [30]:
def recursum(n):
    if n <= 1:
        return n
    return n+recursum(n-1)

In [31]:
n=10
print(recursum(n))

55

### Recursive Function with Fibonacci Series

In [32]:
def recurfib(n):
    if n <= 1:
        return (n)
    else:
        return (recurfib(n-1)+recurfib(n-2))

In [33]:
n=10
for i in range (n):
    print(recurfib(i))

0
1
1
2
3
5
8
13
21
34

### Recursive Function for Factorial

In [34]:
def facto(n):
    if (n==1 or n==0):
        return (1)
    else:
        return (n*facto(n-1))

In [35]:
n=6
print(facto(n))

720

## Generator Function

In [36]:
def gen_num(n):
    v=0
    while v < n: 
        yield v
        v+=1

In [37]:
for v in gen_num(20):
    print(v)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

### To get single values

In [38]:
value=gen_num(6)
print(next(value))

0

In [39]:
print(next(value))

1

In [40]:
print(next(value))

2

In [41]:
print(next(value))

3

In [42]:
print(next(value))

4

In [43]:
print(next(value))

5

## Dictionaries

In [44]:
dict1={"ABC":[1996,"abc"], "DEF":[1997,"def"],"GHI":[1998,"ghi"],"PQR":[1999,"pqr"],"XYZ":2000}

In [45]:
type(dict1)

dict

In [46]:
dict1["ABC"]

[1996, 'abc']

### How many List values are present in the above Dictionary?

In [47]:
dict1.keys()

dict_keys(['ABC', 'DEF', 'GHI', 'PQR', 'XYZ'])

In [48]:
for i in dict1.keys():
    print(i)

ABC
DEF
GHI
PQR
XYZ

In [49]:
count=0
for i in dict1.keys():
    if type (dict1[i])==list:
        count=count+1
count

4

# Error Handling

In [50]:
x=50
y=0

In [51]:
try:
    x/y
except:
    print ("Your code has an error")

Your code has an error

In [52]:
x=50
z=2

In [53]:
try:
    x/z
except:
    print ("Your code has an error")
else:
    print(x/z)

25.0

In [54]:
try:
    x/z
except:
    print ("Your code has an error")
else:
    print(x/z)
finally:
    print("Your code has run successfully")

25.0
Your code has run successfully

# Creating a DataFrame

In [55]:
import pandas as pd

In [56]:
dict2={"Sonu":[1996,"Hyderabad"], "Payal":[1997,"Vishakapatnam"],"Anjana":[1998,"Warangal"],"Sriya":[1999,"Sangareddy"],"Divya":2000}

In [57]:
df=pd.DataFrame(dict2)

In [58]:
df

        Sonu          Payal    Anjana       Sriya  Divya
0       1996           1997      1998        1999   2000
1  Hyderabad  Vishakapatnam  Warangal  Sangareddy   2000

In [59]:
df.head()

        Sonu          Payal    Anjana       Sriya  Divya
0       1996           1997      1998        1999   2000
1  Hyderabad  Vishakapatnam  Warangal  Sangareddy   2000

In [60]:
df.shape

(2, 5)

### To save this dictionary as a csv file on local device

In [61]:
df.to_csv("dictionary.csv")

### To save this dictionary as an Excel file on local device

In [62]:
df.to_excel("dictionary.xlsx")

### To open local files in Jupyter or other platforms

In [63]:
# here 'w' stands for write mode
file=open("text1.txt",'w')
file.write("This is the first line \n")
file.close()

In [64]:
# to make changes to the above created file without over-writing it, open it in append mode which is indicated by 'a'
file=open("text1.txt",'a')
file.write("This is the second line \n")
file.close()

In [65]:
# to view the file, open in read mode indicated by 'r'
file=open("text1.txt",'r')
print(file.read())

This is the first line
This is the second line

In [66]:
file=open("text1.txt",'r')
file.readlines()

['This is the first line \n', 'This is the second line \n']

### Alternate Method using the 'with' keyword

In [67]:
with open("text1.txt",'r') as file:
    print(file.read())

This is the first line
This is the second line

### To find the longest word in given file

In [68]:
with open("text1.txt",'r') as file:
    word_list=file.read().split()
    print(word_list)

['This', 'is', 'the', 'first', 'line', 'This', 'is', 'the', 'second', 'line']

In [69]:
len_word=[]

In [70]:
len(word_list)

10

In [71]:
for i in word_list:
    print(i,[len(i)])

This [4]
is [2]
the [3]
first [5]
line [4]
This [4]
is [2]
the [3]
second [6]
line [4]

In [72]:
len_word=[]
len_word.append(len(i))
print("The longest word is", max(word_list))

# here we are not getting the output as the longest word but rather the word that is occuring the most, 
# which happens to be 'the' in this instance

The longest word is the

### Defining a function to find the longest word

In [73]:
def longest_word(file):
    with open(file,'r') as f:
        words=f.read().split()
    return(max(words,key=len))

In [74]:
print (longest_word("text1.txt"))

second

In [75]:
print (longest_word("C:\Users\91733\anaconda3\Lib\site-packages\spacy\tests\tokenizer\sun.txt"))

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-75-d7d84696ec61>, line 1)

In [76]:
# here we are getting a Unicode Error whic can be solved by changing all the backward slashes to forward slashes
# backward slash - absolute path
# forward slash - relative path

In [77]:
print (longest_word("C:/Users/91733/anaconda3/Lib/site-packages/spacy/tests/tokenizer/sun.txt"))

âˆ’26.74.[22][23]

In [1]:
# adding error handling concpet to this
# def longest_word(file):
#    try:
#        with open(file,'r') as f:
#            words=f.read().split()
#    except UnicodeError:
#        return ("Check the file")
#    else:
#        return (max(words,key=len))
#       
# print (longest_word("C:\Users\91733\anaconda3\Lib\site-packages\spacy\tests\tokenizer\sun.txt"))

### Defining a function to find the shortest word

In [79]:
def shortest_word(file):
    with open(file,'r') as f:
        words=f.read().split()
    return(min(words,key=len))

In [80]:
print (shortest_word("text1.txt"))

is

In [81]:
print (shortest_word("C:/Users/91733/anaconda3/Lib/site-packages/spacy/tests/tokenizer/sun.txt"))

a

# Lambda Functions

In [82]:
t=lambda r:r**2
t(10)

100

## Filter Functions

### To filter out the odd numbers from given list

In [83]:
list3=[2,5,6,7,8,9,10]

In [84]:
odd_num=list(filter(lambda i:i%2!=0,list3))
print(odd_num)

[5, 7, 9]

### To sort the list accroding to quantity

In [85]:
fruit_list=[["Mango",200],["Grapes",140],["Apples",60],["Bananna",300]]
fruit_list.sort()
fruit_list

[['Apples', 60], ['Bananna', 300], ['Grapes', 140], ['Mango', 200]]

In [86]:
# here the sort function by default sorts them into alphabetical order
# to avoid this, a key should be specified as done in the below cell where the 'i' value is used to indicate the quantity

In [87]:
fruit_list=[["Mango",200],["Grapes",140],["Apples",60],["Bananna",300]]
fruit_list.sort(key=lambda i:i[1])
print (fruit_list)

[['Apples', 60], ['Grapes', 140], ['Mango', 200], ['Bananna', 300]]