## Print the duplicates in the given list

In [1]:
l=[10,20,30,10,50,20,'yu',6,'yu']
d=[]
for i in l:
    if l.count(i)>1 and i not in d:
        d.append(i)
print(d)

[10, 20, 'yu']

## Print the duplicates in the given list without using any built-in functions

In [2]:
d=[]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]==l[j]:
            d.append(l[i])
print(d)

[10, 20, 'yu']

## Patterns

In [3]:
for j in range(5):
    for i in range(5):
        print("*",end='')

*************************

### Square

In [4]:
# This loop is used for rows 
for j in range(5):  
# This loop is used for columns
    for i in range(5): 
        print('*',end=' ')
    print('')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### Increasing Triangle

In [5]:
for j in range(5):
    for i in range(j+1):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

### Decreasing Triangle

In [6]:
for j in range(5):
    for i in range(j,5):
        print('*',end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*

### Rignt-Angled Triangle

In [7]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
        
    for j in range(i+1):
        print('#',end=' ')
    print('')

          #
        # #
      # # #
    # # # #
  # # # # #

In [8]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
        
    for j in range(i,n):
        print('#',end=' ')
    print('')

  # # # # #
    # # # #
      # # #
        # #
          #

### Hill Pattern

In [9]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    
    for j in range (i+1):
        print('#',end=' ')
        
    for j in range (i):
        print('#',end=' ')
    print('')

          #
        # # #
      # # # # #
    # # # # # # #
  # # # # # # # # #

### Reverse Hill Pattern

In [10]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    
    for j in range (i,n):
        print('#',end=' ')
        
    for j in range (i,n-1):
        print('#',end=' ')
    print('')

  # # # # # # # # #
    # # # # # # #
      # # # # #
        # # #
          #

### Rhombus or Diamond Pattern

In [11]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    
    for j in range (i+1):
        print('#',end=' ')
        
    for j in range (i):
        print('#',end=' ')
    print('')

for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    
    for j in range (i,n):
        print('#',end=' ')
        
    for j in range (i,n-1):
        print('#',end=' ')
    print('')

          #
        # # #
      # # # # #
    # # # # # # #
  # # # # # # # # #
    # # # # # # #
      # # # # #
        # # #
          #

In [12]:
for i in range(5,1,-1):
    for j in range(5,1,-1):
        print(i,end='')
    print('')

5555
4444
3333
2222

## Write a program to check value is type list

In [13]:
data={'jay' : ['male',2000], 'kiran' : 'male', 'vijay' : ['male',1998], 'sanskriti' : ['female',2001]}
count=0
for i in data:
    if isinstance(data[i],list):
        count+=1
print(count)

3

In [14]:
count=0
while i < range(len(data)):
    if type(data[i])==str:
        count+=1
        i+=1
print(i)

TypeError: '<' not supported between instances of 'str' and 'range'

In [15]:
data[1]

KeyError: 1

In [16]:
data.values()

dict_values([['male', 2000], 'male', ['male', 1998], ['female', 2001]])

In [17]:
data.iloc[2]

AttributeError: 'dict' object has no attribute 'iloc'

In [18]:
data["jay"]

['male', 2000]

In [19]:
dataitems=list(data.items())
dataitems

[('jay', ['male', 2000]),
 ('kiran', 'male'),
 ('vijay', ['male', 1998]),
 ('sanskriti', ['female', 2001])]

In [20]:
type(dataitems[0][1])

list

In [21]:
len(dataitems[1])

2

### Without using is-instance function

In [22]:
count=0
for i in range(len(dataitems)):
    if type(dataitems[i][1]==list):
        count+=1
print(count)

4

## Recursive Functions

### Factorial with Recursive Functions

In [23]:
def factorial(n):
    if n==1:
        return 1
    else:
        return (n*factorial(n-1))
    
print(factorial(5))

120

### Factorial without Recursive Functions

In [24]:
num=int(input("Enter a number :"))
factorial=1

for i in range(1,num+1):
    factorial=factorial*i
print(num,"!","=",factorial)

Enter a number :16
16 ! = 20922789888000

### Finding Prime Numbers

In [25]:
prime=[]
for i in range(2,20):
    c=0
    for j in range(1,i):
        if i%j==0:
            c+=1
    if c==1:
        prime.append(i)
print(prime)
print(sum(prime))

[2, 3, 5, 7, 11, 13, 17, 19]
77

### Checking if a given number is a Prime Number or not

In [26]:
n=int(input("Enter a number:"))
for i in range(2,n):
    if n%i==0:
        print("Not a prime number")
        break
    else:
        print("Prime Number")
        break

Enter a number:19
Prime Number

### Palindrome

In [27]:
s=input()
if s==s[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

racecar
Palindrome

### Write a given string in reverse order

In [28]:
str1=input()
list1=str1.split(' ')
print(list1)
list2=list1[::-1]
print(list2)
str2=' '.join(list2)
print(str2)

Hira Fatima
['Hira', 'Fatima']
['Fatima', 'Hira']
Fatima Hira

### Write unique values from the list

In [29]:
my_list=[1,2,2,2,3,3,4,5,5,6,6]
new_list=[]
for i in my_list:
    if my_list.count(i)==1:
        new_list.append(i)
        
print(new_list)

[1, 4]

#### Using List Comprehension

In [30]:
[i for i in my_list if my_list.count(i)==1]

[1, 4]

### Count the occurences of each element

In [31]:
str1="a,a,a,b,b,c,c,c"
list1=str1.split(',')
count_ele=[]

str_ele=[]
for ch in list1:
    if not ch in str_ele:
        count_ele.append(f"{ch}:{list1.count(ch)}")
        str_ele.append(ch)
print(",".join(count_ele))

a:3,b:2,c:3

## Lambda Functions

In [32]:
b=[[6,8],[90,4],[23,67]]
c=[2,8,6,9,10,23,14]
b.sort(key=lambda x:x[0])
print(b)
print(sorted(c))

[[6, 8], [23, 67], [90, 4]]
[2, 6, 8, 9, 10, 14, 23]

In [33]:
try:
    n=int(input("How many numbers :"))
except:
    print(" Please Enter number")
else:
    list_num=[]
    try:
        for i in range(n):
            num=int(input())
            list_num.append(num)
        mean= lambda x: sum(x)/len(x)
        print(mean(list_num))
    except:
        print("Some Error Occured")

How many numbers :4
45
46
47
48
46.5

In [34]:
2+5+3+6+44

60

In [35]:
20/5

4.0

## Number Patterns

### Increasing Triangle with Increasing Numbers

In [36]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Increasing Triangle with Decreasing Numbers

In [37]:
n=5
p=n
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p-=1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

### Increasing Triangle with Even Numbers

In [38]:
n=5
p=0
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p+=2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

### Not-Increasing Triangle with Even Numbers

In [39]:
n=5
for i in range(n):
    for j in range(i+1):
        if (i%2)==0:
            print(1,end=' ')
        else:
            print(2,end=' ')
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

### Increasing Rhombus or Diamond Pattern

In [40]:
n=5
p=1
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
        
    for j in range(i+1):
        print(p,end=' ')
    
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
    
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
        
    for j in range(i,n):
        print(p,end=' ')
    
    for j in range(i,n-1):
        print(p,end=' ')
    p+=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
  6 6 6 6 6 6 6 6 6
    7 7 7 7 7 7 7
      8 8 8 8 8
        9 9 9
          10

### Not-Increasing Rhombus or Diamond Pattern

In [41]:
n=5
p=1
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
        
    for j in range(i+1):
        print(p,end=' ')
    
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
    
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
        
    for j in range(i,n):
        print(p,end=' ')
    
    for j in range(i,n-1):
        print(p,end=' ')
    p-=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

### Increasing Triangle with Increasing Numbers

In [42]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Decreasing Triangle with Increasing Numbers

In [43]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    p=1
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    print( )

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

### Hill Pattern

In [44]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    p=1    
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    for j in range(i):
        print(p,end=' ')
        p+=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [45]:
n=5
for i in range(n):
    p=n
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print( )

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [46]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    p=n
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    print( )

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

In [47]:
n=5
k=n
for i in range(n):
    p=k
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    k-=1
    print( )

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [48]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    p=1    
    for j in range(i):
        print(p,end=' ')
        p+=1
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [49]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print( )

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## Create a function to capitalize the first letters of first names and last names

### Using built-in functions

In [50]:
x="hirafatima"
print(x.capitalize())

Hirafatima

In [51]:
x="hira fatima"
print(x.title())

Hira Fatima

### Without using any built-in functions

In [52]:
def cap_name(x):
    a=x.split(' ')
    b=[ ]
    for i in range(len(a)):
        b.append(a[i].capitalize())
    return (' ').join(b)  
# in the above line space between the inverted commas is necessary otherwise the otput will concatenate the names together

In [53]:
print(cap_name('hira fatima'))

Hira Fatima

### Applying it on a dataset

In [54]:
import pandas as pd

In [55]:
data={'Name' : ['hira f','akshara b','madiha a','sangeetha r'],
      'Age' : [21,21,21,21]}

In [56]:
df=pd.DataFrame(data)

In [57]:
type(df['Name'])

pandas.core.series.Series

In [58]:
print(cap_name(df['Name'][0]))

Hira F

In [59]:
for i in range(len(df['Name'])):
    print(cap_name(df['Name'][i]))

Hira F
Akshara B
Madiha A
Sangeetha R

In [60]:
# to get it in the form of a list

namelist=[]
for i in range(len(df['Name'])):
    namelist.append(cap_name(df['Name'][i]))
print(namelist)

['Hira F', 'Akshara B', 'Madiha A', 'Sangeetha R']

In [61]:
df['Name']=[cap_name(df['Name'][i]) for i in range(len(df['Name']))]
df['Name']=namelist
df

          Name  Age
0       Hira F   21
1    Akshara B   21
2     Madiha A   21
3  Sangeetha R   21